{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": ["data-test"]
          }
        ]
      ]
    }
  }
}
