<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, shrink-to-fit=no" />
        <meta name="keywords" content="" />
        <meta name="robots" content="<%= htmlWebpackPlugin.options.robots %>" />
        <meta name="description" content="" data-react-helmet="true" />
        <meta name="author" content="ZdenekD, zdenekd.cz" />
        <title>Title</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext" rel="stylesheet" crossorigin="anonymous" />
    </head>
    <body>
        <!--[if IE]>
            <p>
                You are using an outdated browser. Some components may not work properly for you.<br />
                <a href="https://browsehappy.com/" title="https://browsehappy.com/" target="_blank" rel="noopener noreferrer">Please update your browser</a>
                to view it correctly.
            </p>
        <![endif]-->
        <noscript>
            <p>
                You do not have JavaScript enabled. Some parts of the site may not work properly for you.<br />
                Here are <a href="https://www.enable-javascript.com" target="_blank" rel="noreferrer noopener">instructions</a> on how to enable JavaScript in
                your web browser.
            </p>
        </noscript>

        <main id="js_main" class="main"></main>
    </body>
</html>
